[user]
    email = ql@lemonzi.me
    name = Quim Llimona
[alias]
    st = status -sb
    stat = status -sb
    dif = diff --word-diff=color
    undo = reset --soft HEAD^
    amend = commit --amend -C HEAD
    co = checkout
    ci = commit -m
    ca = commit -am
    l = log -n 20 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    pp = pull --rebase && push
# [credential]
#    helper = osxkeychain
[core]
    excludesfile = ~/.gitignore
[help]
    autocorrect = 1
[color]
    status = auto
[color "status"]
    added = green
    changed = blue
    untracked = magenta
    deleted = red
[hub]
    protocol = https
