[user]
    email = ql@lemonzi.me
    name = Quim Llimona
[alias]
    stat = status -sb
    dif = diff --word-diff=color
    undo = reset --soft HEAD^
    amend = commit --amend -C HEAD
    co = checkout
    ci = commit -m
    ca = commit -ma
    l = log --pretty=oneline -n 20 --graph --abbrev-commit
    pp = pull --rebase && push
# [credential]
#    helper = osxkeychain
[core]
    excludesfile = ~/.gitignore
[help]
    autocorrect = 1
[color]
    status = auto
[color "status"]
    added = green
    changed = blue
    untracked = magenta
    deleted = red
